if (errors) 
    each err in errors
        .alert.alert-warning(role='alert') #{err.msg}
        
if (success_msg != '') 
    .alert.alert-success(role='alert') #{success_msg}

if (error_msg != '') 
    .alert.alert-warning(role='alert') #{error_msg}

if (error != '') 
    .alert.alert-danger(role='alert') #{error}