extends layout

block content
    div.d-inline-flex.bd-highlight
        div.d-flex.align-items-center
            div.container-fluid
                img.img-thumbnail(src='/images/images.jpg' style='width:350px;')
            div.container-fluid
                h1 Hello - #{auth.name}
                br
                li
                    h2 Username: @#{auth.username}
                li 
                    h2 Email: #{auth.email}
                li 
                    h2 Created at: #{auth.created_date}
    hr
    a.btn.btn-primary(href="") Edit profile details
    a.btn.btn-danger.ms-3(href="") Delete profile
    
